<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SuggestMe: The Suggestion Service</title>

    <!-- Bootstrap Core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Theme CSS -->
    <link href="css/freelancer.min.css" rel="stylesheet">
    <link href="css/map.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <!-- <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- MOBILE: Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Suggest Me</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="index.html">Main</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://docs.google.com/presentation/d/1y_OKeIQeatEOVxjrgXDk6czRLj-phCzM7CllOvhjy-o/edit?usp=sharing">About</a>
                    </li>
                    <!-- <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img id="logo" src="images/suggest_me_logo.png"></img>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 portfolio-item text-center">
                    <p>Ever had trouble deciding where to go to eat?</p>
                    <a href="#map-modal" class="portfolio-link btn btn-info btn-lg btn-block open-map-modal" onclick="displayYelpInfo()">
                        <strong>Suggest me a place to eat </strong>
                        <img src="images/restaurants.png" class="img-responsive center-block"></img>
                    </a>
                </div>
                <div class="col-lg-6 portfolio-item text-center">
                    <p>Wanna know about cool local events you might be missing?</p>
                    <a href="#map-modal" class="portfolio-link btn btn-info btn-lg btn-block open-map-modal" onclick="displayEventbriteInfo()">
                        <strong>Suggest me an event to attend </strong>
                        <img src="images/events.png" class="img-responsive center-block"></img>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 portfolio-item text-center">
                    <p>Looking for a good book to read?</p>
                    <a href="" class="portfolio-link btn btn-info btn-lg btn-block" data-toggle="modal">
                        <strong>Suggest me a book to read </strong>
                        <img src="images/books.png" class="img-responsive center-block"></img>
                    </a>
                </div>
                <div class="col-lg-6 portfolio-item text-center">
                    <p>Wondering what to make for breakfast/lunch/dinner?</p>
                    <a href="" class="portfolio-link btn btn-info btn-lg btn-block" data-toggle="modal">
                        <strong>Suggest me a meal to make </strong>
                        <img src="images/cooking.png" class="img-responsive center-block"></img>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>3801 W Temple Ave
                        <br>Pomona, CA 91768</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="http://cs480-projects.github.io/teams-summer2016/coderwatch/index.html" class="btn-social btn-outline"><i class="fa fa-chrome" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/coderwatch" class="btn-social btn-outline"><i class="fa fa-github" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About SuggestMe</h3>
                        <p>SuggestMe is a web service whose purpose is to help people decide what to do by giving suggestions for different categories.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; CoderWatch 2016<br>
                        Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com/">Start Bootstrap</a>.
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <!-- map-modal -->
    <div class="portfolio-modal modal fade" id="map-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <!-- x on top right to close window -->
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="modal-body" ng-app="myApp">
                        <div class="col-lg-6">
                            <!-- Yelp -->
                            <button id="yelp" onclick="updateMapYelp()" class="btn btn-primary btn-lg hidden">Get Restaurants Near Me!</button>
                            <!-- Eventbrite -->
                            <button id="eventbrite" onclick="updateMapEventbrite()" class="btn btn-primary btn-lg hidden">Get Events Near Me!</button>
                            <hr>
                            <div id="map"></div>
                        </div>
                        <!-- Yelp Info -->
                        <div id="yelp-info" class="col-lg-6 table-responsive hidden" ng-controller="YelpCtrl">
                            <button class="btn btn-primary btn-lg" ng-click="getBusinesses()">Refresh Suggestions</button>
                            <hr>
                            <table class="table table-striped">
                                <tr class="success">
                                    <td>
                                        <strong>Index</strong>
                                    </td>
                                    <td>
                                        <strong>Business Name</strong>
                                    </td>
                                    <td>
                                        <strong>Business Rating</strong>
                                    </td>
                                    <td>
                                        <strong>Open now?</strong>
                                    </td>
                                    <td>
                                        <strong>Address</strong>
                                    </td>
                                    <td>
                                        <strong>Phone</strong>
                                    </td>
                                </tr>
                                <tr ng-repeat="business in businesses">
                                    <td>
                                        {{business.index}}
                                    </td>
                                    <td>
                                        {{business.name}}
                                    </td>
                                    <td>
                                        {{business.rating}}
                                    </td>
                                    <td>
                                        {{business.open}}
                                    </td>
                                    <td>
                                        {{business.address}}
                                    </td>
                                    <td>
                                        {{business.phone}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- Eventbrite Info -->
                        <div id="eventbrite-info" class="col-lg-6 table-responsive hidden" ng-controller="EventbriteCtrl">
                            <button class="btn btn-primary btn-lg" ng-click="getEvents()">Refresh Suggestions</button>
                            <hr>
                            <table class="table table-striped">
                                <tr class="success">
                                    <td>
                                        <strong>Index</strong>
                                    </td>
                                    <td>
                                        <strong>Event Name</strong>
                                    </td>
                                    <td>
                                        <strong>Address</strong>
                                    </td>
                                    <td>
                                        <strong>More Information</strong>
                                    </td>
                                </tr>
                                <tr ng-repeat="event in events">
                                    <td>
                                        <strong>{{event.index}}</strong>
                                    </td>
                                    <td>
                                        <strong>{{event.name}}</strong>
                                    </td>
                                    <td>
                                        <strong>{{event.address}}</strong>
                                    </td>
                                    <td>
                                        <a ng-href="{{event.link}}" target="_blank">Link</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end map-modal -->

    <!-- book-modal -->
    <div class="portfolio-modal modal fade" id="book-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end book-modal -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <!--<script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>-->

    <!-- Theme JavaScript -->
    <script src="js/freelancer.js"></script>
    
    <!-- Script for google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8u4PGN6dz5-HbrY5aJZxwyzTkCfiFj8Q&libraries=places" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/google-maps.js"></script>

</body>

</html>
