
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Sample Map Display</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 500px;
        width: 500px;
      }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  </head>
  <body ng-app="yelpApp">
    <div id="map"></div>
    <h2>Tutorial</h2>
    <p>If you go to https://maps.googleapis.com/maps/api/place/textsearch/json?query=arcade+in+Los+Angeles&key=AIzaSyB8u4PGN6dz5-HbrY5aJZxwyzTkCfiFj8Q you will get a json that is recorded in result.json. This is the result of a query for arcades in Los Angeles. The initMap function is then called (callback=initMap down below) where the map is initialized to the lat/lng of Los Angeles then for each establishment obtained from the textsearch api call is put onto the map by creating a marker object with the information of the establishment. Also clicking on each marker will display the info window (closes other open info windows).</p>
    
    <h2>HTML5 Geolocation Demo</h2>

    <!-- clicking on these buttons result in the ajax calls -->
    <div ng-controller="YelpCtrl">
        <button id="yelp" ng-click="getBusinesses()">Test Yelp</button>
        <button id="google">Test Google Search</button>
        <button id="eventbrite">Test Eventbrite</button>
    
        <table>
            <tr>
                <td>
                    <strong>Business Name</strong>
                </td>
                <td>
                    <strong>Business Rating</strong>
                </td>
            </tr>
            <tr ng-repeat="business in businesses" ng-model="businesses">
                <td>
                    {{business.name}}
                </td>
                <td>
                    {{business.rating}}
                </td>
            </tr>
        </table>
    </div>



    <!-- loads code for google maps, calls initmap function in google-maps.js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8u4PGN6dz5-HbrY5aJZxwyzTkCfiFj8Q&libraries=places&callback=mapsCallback" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="./js/google-maps.js"></script>
  </body>
</html>